<!-- Event details go here. Format them with html like you please. -->
<p>We're having another <b>lightning talks</b> evening! Come give a short 5-10 minute talk on something that you're 
excited about. Pet projects! Open Source! Kernel Hacks! Teaching kids how to program! Cats? Cats! </p>

<p>If you're interested, send us an [email](mtlallgirlhacknight@gmail.com) or a 
[tweet](https://twitter.com/mtlgirlhackers) with your name and a short abstract of your talk. And maybe a funny gif.
Who doesn't like a funny gif?</p>

<!-- Fix this hack! -->
<!--<br/><br/><br/>-->
