<!-- Event details go here. Format them with html like you please. -->
<p>We're having another <b>lightning talks</b> evening! Come give a short 5-10 minutes talk on something that you're 
excited about. Open Source! Kernel Hacks! Teaching kids how to program! Cats? Cats! </p>

<p>If you're interested, send us an <a href="mailto:mtlallgirlhacknight@gmail.com">email</a> or a 
<a href="https://twitter.com/mtlgirlhackers">tweet</a> with your name and a short abstract of your talk. And maybe a 
funny <a href="http://3.bp.blogspot.com/-_2SeegC4Jhc/T9EgcK0ZqMI/AAAAAAAAC2g/MwpKWE9j0Vk/s1600/cat-puppy-hug-gif.gif">gif</a>. 
Who doesn't like a funny gif?</p>

<!-- Fix this hack! -->
<!--<br/><br/><br/>-->
