<!-- Event details go here. Format them with html like you please. -->
<p><b>Tanya Short</b> will introduce the basics of making a 3d game in the Unity game engine, including the basics of physics, controls, lighting, textures, and particle effects. If you bring a laptop with Unity <a href="http://unity3d.com/unity/download">installed</a>, then at the end you'll have a little car awkwardly driving around that you can take home. </p>

<p>Tanya is the creative director of <a href="http://www.kitfoxgames.com/">Kitfox Games</a>, an independent games company in Montreal, and she's been making games for over seven years. She also co-founded <a href="http://pixelles.ca">Pixelles Montreal</a>, an amazing program that helps women get started with creating games. </p>

<!-- Fix this hack! -->
<!--<br/><br/><br/>-->
