<div class="centered">
  <h3> Next event: </h3>
  <h3> <span class="orange"> {{ site.when }} </span> @ 
  	<a href="{{ site.where_url }}" target="_blank"> {{ site.where }} </a>
  </h3>
  <br/>
  {% include deets.html %}
</div>

<div class="clearfix"></div>
<hr>

{% if site.eventbrite_id %}
<div style="width:100%; text-align:left;" >
	<iframe  src="http://www.eventbrite.ca/tickets-external?eid={{site.eventbrite_id}}&ref=etckt&v=2" frameborder="0" height="214" width="100%" vspace="0" hspace="0" marginheight="5" marginwidth="5" scrolling="auto" allowtransparency="true"></iframe>
</div>
{% endif %}
