<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <link href='http://fonts.googleapis.com/css?family=Yanone+Kaffeesatz:700' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,700' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Open+Sans+Condensed:300' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" type="text/css" href="style.css" title="default"> 
  <title>{{page.title}}</title>
</head>
<body>

<nav>
  <ul>
    <li><a href="index.html">When?</a></li>
    <li><a href="about.html">About</a></li>
    <li><a href="faq.html">FAQ</a></li>
    <li><a href="mailinglist.html">Mailing List</a></li>
    <li><a href="ideas.html">Project ideas</a></li>
    <li><a href="http://www.flickr.com/groups/2141823@N20/" target="_blank">Photos</a></li>
  </ul>
</nav>

<div id="container">

  <div id="content">
    <a href="http://mtlallgirlhacknight.ca/">
      <div class="header-bit">   
            <h1>Montreal</h1><h1>
              <!-- need nbsp to counter the letter spacing bug -->
              </h1><h2 class="wif-line"><span>&nbsp;All-Girl</span></h2>
            <h1>Hack Night</h1>
      </div>
    </a>

    {{content}}
  </div>


  <div id="footer">
    <div class="footer-wrapper">
      <div class="footer-column">
          <h3 class="widget-title">When/Where</h3>
          <p>October 2013<br/>
            SUPINFO Labs</p>
      </div>

      <div class="footer-column">
          <h3 class="widget-title">Get In Touch</h3>
          <p><a href="https://twitter.com/mtlgirlhackers">Twitter</a><br>
          <a href="mailto:mtlallgirlhacknight@gmail.com">E-mail</a><br>
          <a href="/mailinglist.html">Mailing list</a><br>
          </p>
      </div>

      <div class="footer-column">
          <h3 class="widget-title">Organizers</h3>
          <p><a href="https://github.com/jvns">Julia</a><br>
          <a href="https://github.com/notwaldorf">Monica</a></p>
      </div>
    </div> <!-- footer wrapper -->
  </div><!--/#footer-->

</div><!-- container -->
</body>
</html>
